Source: raku-deb822
Maintainer: Élerille <elerille+debian@thran.io>
Section: interpreters
Priority: optional
Build-Depends: debhelper-compat (= 12), dh-perl6
Standards-Version: 4.5.1

Package: raku-deb822
Architecture: all
Depends: rakudo, ${misc:Depends}
Description: Raku module Deb822
 Deb822 Parser
